<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
      <add name="DataBaseLesson-7.Properties.Settings.Test7ConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Test7;Integrated Security=True;Pooling=False"
           providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>